<link rel="stylesheet" href="/css/interviewList.css">

<div class="page">



    <div class="header">

        <form action="">
            <div class="menu">
                <div class="logo" id="create_logo">
                    <i class="fa-solid fa-file-circle-plus"></i>
                </div>
            </div>
            <div class="menu">
                <input type="text" name="name" id="" placeholder="company Name">
            </div>
            <div class="menu">
               
                <select name="position" id="">
                    <option value="">Select Post</option>
                    <%for(let interview of Allinterview){%>
                    <option value="<%=interview.position%>"><%=interview.position%></option>
                    <%}%>str.replace("a", "");
                </select>
            </div>
            <div class="menu">
             <input type="date" placeholder="Date" >
            </div>
           
            <div class="menu">
                <button type="submit">SEARCH</button>
            </div>
        </form>
    </div>


    <div class="interviewList">
        <%for(interview of Interview){%>
            <div class="interview" id="<%=interview._id%>" >
                <div class="interviewLess">
                    <ul>
                        <li class="logo_interview" id="logo_interview">
                            <i class="fa-solid fa-briefcase"></i>
                        </li>
                        <li>
                            Company:<%=interview.name.replace('""',"")%>
                        </li>
                        <li>
                            Position <%=interview.position%>
                        </li>
                        <li id="intervew_date">
                            Date: <%=interview.date%>
                        </li>
                        <li>
                            package: <%=interview.salary%>
                        </li>

                        <li id="more_info_drop"><a class="more_info_drop" href="<%=interview._id%>"><i class="fa-solid fa-caret-down"></i></a></li>

                    </ul>
                </div>
                <div class="interviewMore">
               <%if(interview.student.length==0){%>
                <h5>Interivew Not allocated</h5>
                <%}else{%>
                <h6>Students applied for this interview</h6>
                <%}%>
                <%for(let i=0;i<interview.student.length;i++){%>                  
                    <ul>
                     <li class="student_logo" id="student_logo"><i class="fa-solid fa-user-graduate"></i></li>
                    <li><%=interview.student[i].name%></li>
                    <li>DSA:<%=interview.student[i].dsa%></li>
                    <li>React:<%=interview.student[i].react%></li>
                    <li>WEBDEV:<%=interview.student[i].WEBDEV%></li>
                    <li>Total:<%=interview.student[i].total%></li>
                    <li>
                        <form action="/student/result" method="post" class="interivew_result_form">
                            <input type="hidden" name="student_id" value="<%=interview.student[i]._id%>">
                            <input type="hidden" name="interivew_id" value="<%=interview._id%>">
                            <select name="value" id="" required>
                             <option value="value" hidden>RESULT</option>
                             <option value="pass">pass</option>
                             <option value="fail">fail</option>
                             <option value="onHold">onHold</option>
                             <option value="Didn’t Attempt">Didn't Attempt</option>
                            </select>
                            <button type="submit">submit </button>
                             </form>
                </li>
            </ul>
                    <%}%>
              
            </div>
            </div>
            <%}%>
    </div>

</div>




<div class="student_create" id="student_create">

    <div class="student_form_row1">
        <i class="fa-solid fa-user-plus"></i>
<h3  class="exit" id="exit">X</h3>
    </div>
  
   


    <form action="/interview/create" method="post">
    <div class="student_form_fields">
    <span>  Company:</span>
        <input type="text" name="name" id="" required>
    </div>

    <div class="student_form_fields">
       <span> Email:</span>
     <input type="text" name="email" id="" required>  
    </div>

    <div class="student_form_fields">
      <span>  position:</span>
        <input type="text" name="position" id=""  required>
    </div>
    <div class="student_form_fields">
      <span>  Salary:</span>
       <input type="text" name="salary" id=""  required>
    </div>

   
    <div class="student_form_fields">
    <span>  Date </span>
        <input type="date" name="date" id=""  required>
    </div>


    <button class="btn btn-danger btn-sm border">CREATE</button>
   
</form>

</div>









<script src="/js/interview.js"></script>